:root {
    --clr-light: white;
    --clr-neutral: #979797;

    --clr-purple: #2C264A;
    --clr-peach: #E18975;
    --clr-green: #39B54A;
    --clr-teal: #5DA7A3;

    --fs-menu: 1.25rem;
    --fs-primary: .813rem;

    --gap: .625rem;
}

body {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

div, ul, li, p {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

main {
    display: flex;
    flex-direction: row;
}

nav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 193px;
    height: 100vh;
    background-color: var(--clr-purple);
    padding: 2em 0;

    a {
        padding: .8rem 1rem;
        color: inherit;
        text-decoration: none;
        display: block;
    }

    a:hover {
        color: var(--clr-peach)
    }

    img {
        max-width:78px;
        
    }

    & .menu-title {
        color: var(--clr-light);
        text-transform: uppercase;
        color: var(--clr-teal);
        font-size: 1.85rem;
        margin-bottom: 2em;
        padding: 0 1em;
        text-align: center;
    }

    ul.nav-menu {
        color: var(--clr-light);
        margin: 0;
        padding: 0;
        width: 100%;

        & li {
            list-style: none;
            border-width: 0;
            border-top-width: 1px;
            border-color: var(--clr-peach);
            border-style: solid;
            position: relative;


            &.active a{
                background-color: var(--clr-peach);
                color: var(--clr-light);
            }

            &.active a::after {
                content: '';
                display: inline-block;
                position: absolute;
                right: -38px;
                top: 0;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 22px 22px 22px 16px;
                border-left-color: var(--clr-peach);
            }
        }

        & li:last-child {
            border-bottom-width: 1px
        }

        
    }

}

.content-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    height: 100vh;

    & .lrgap {
        padding: 0 2em
    }
}

.content-area:before {
    content: ' ';
    display: block;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-image: url(../images/BG.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .grid-outer, .grid-outer > * {
    box-sizing: border-box;
  }

  .grid-outer {
    position: relative;
    width: 40rem;
    height: 40rem;
    min-width: 34rem;
    padding: var(--gap);
    background-color: var(--clr-peach);
    border-radius: 13px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    gap: var(--gap);
}

.card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
    background-color: var(--clr-light);
    background: url(../images/cardBg.png) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(0,0,0, .3);
    transition: transform .2s ease;

    position: relative;

    &:hover{
        /*outline: 1px solid var(--clr-purple);*/
        transform: translateY(-3px);
        box-shadow: 0px 3px 15px rgba(0,0,0, .2);
    }


    & .card-title {
        margin: 0;
        font-size: var(--fs-primary);
        font-weight: 900;
        color: var(--clr-purple);
        padding: 10px 12px;
        position: relative;
    }

    & .card-title::after {
        content: '';
        width: calc(100% - calc(2 * var(--gap));
        height: 1px;
        background-color: var(--clr-purple);
        position: absolute;
        left: var(--gap);
        bottom: 0;
    }
}

.card-results {
    padding: var(--gap);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--clr-light);

    & .icon {
        margin-right: 5px;
    }
}

.card-time {
    display: flex;
    font-weight: 600;
    align-items: center;
    font-size: var(--fs-primary);
}

.card-tasks {
    display: flex;
    font-weight: 600;

    & li {
        width: 1.188rem;
        height: 1.188rem;
        background-color: var(--clr-light);
        border: 1px solid var(--clr-neutral);
        color: var(--clr-neutral);
        font-size: var(--fs-primary);
        text-align: center;
        line-height: 1.125rem;
        border-radius: 100%;
        margin-left: 3px;
    }

    & .task-done {
        background-color: var(--clr-green);
        border-color: var(--clr-green);
        color: var(--clr-light);
    }

    & .task-inprogress {
        border-color: var(--clr-green);
        color: var(--clr-green);
    }
}

/**************************************************/
/**************   Progress Bar   ******************/
/**************************************************/

.time-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(255,255,255,.5);
    position: absolute;
    z-index: 1;
    backdrop-filter: blur(2px);
}

.progress-bar {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height: 50%;
    border-radius: 100%;
    border: 7px solid var(--clr-purple);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}


.progress-pie-chart {
    --pb-size: 100px;
    width: var(--pb-size);
    height: var(--pb-size);
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
  }
  .progress-pie-chart.gt-50 {
    background-color: #81CE97;
  }
  
  .ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - calc(var(--pb-size)/2));
    top: calc(50% - calc(var(--pb-size)/2));
    width: var(--pb-size);
    height: var(--pb-size);
    clip: rect(0, var(--pb-size), var(--pb-size), calc(var(--pb-size)/2));
  }
  .ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - calc(var(--pb-size)/2));
    top: calc(50% - calc(var(--pb-size)/2));
    width: var(--pb-size);
    height: var(--pb-size);
    clip: rect(0, calc(var(--pb-size)/2), var(--pb-size), 0);
    background: #81CE97;
    transform: rotate(60deg);
  }
  .gt-50 .ppc-progress {
    clip: rect(0, calc(var(--pb-size)/2), var(--pb-size), 0);
  }
  .gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, calc(var(--pb-size)/2), var(--pb-size), calc(var(--pb-size)/2));
    background: #E5E5E5;
  }
  
  .ppc-percents {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 75px/2);
    top: calc(50% - 75px/2);
    width: 75px;
    height: 75px;
    background: #fff;
    text-align: center;
    display: table;
  }
  .ppc-percents span {
    display: block;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--clr-purple);
  }
  
  .pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
  }



  /********************/

    .svg-abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    .svg-rad-progress {
    height: 80px;
    width: 80px;
    border-radius: 100%;
    }
    .svg-rad-progress {
    transform: translate(-50%, -50%) rotateZ(-90deg);
    }
    .svg-progress-background {
    stroke: var(--clr-purple);
    stroke-width: 4;
    fill: none;
    }
    .svg-progress-bar {
    stroke: var(--clr-green);
    stroke-width: 8;
    stroke-linecap: round;
    stroke-dasharray: 220;
    stroke-dashoffset:54;
    fill: none;
    animation: prgrss 15s infinite;
    }

    @keyframes prgrss {
        from {stroke-dashoffset: 220;}
        to {stroke-dashoffset: 54;}
    }
    .svg-progress-label {
    font-size: 24px;
    font-weight: 700;
    }


/*************************************************/
/****************** TabStyles ********************/
/*************************************************/

label{
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    display: inline-block;
    color: rgba(white, .5);
    transition: border 0.2s;
    border-bottom: 5px solid rgba(var(--clr-peach), 0.2);
    padding: 3px 2px;
    &:hover{
      border-bottom-color: var(--clr-peach);
    }

    a {
        color: red
    }
  }
  
  .layout{
    display: grid;
    height: 100%;
    width: 100%;
    overflow: hidden;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  input[type="radio"]{
    display: none;
  }
  
  label.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom: 2px solid var(--clr-peach);
    background: var(--clr-purple);
    user-select: none;
    transition: background 0.4s, padding-left 0.2s;
    padding-left: 0;
    input[type="radio"]:checked + .page + &{
      background: var(--clr-peach);
      color: #ffffff;
      span{
        padding-left: 0px  
      }
      svg{
        opacity: 1;
      }
    }
    span{
      padding-left: 0px;
    }
    svg{
      left: 0;
      top: -3px;
      position: absolute;
      width: 15px;
      opacity: 0;
      transition: opacity 0.2s;
    }
  }
  
  .page{
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: span 4;
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  .page-contents > *{
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.2s, transform 0.2s;
    @for $c from 1 through 20{
      &:nth-child(#{$c}){
        transition-delay: 0.2s + ($c * 0.2s);
      }
    }
  }
  
  input[type="radio"] + .page{
    transition: transform 0.2s;
    transform: translateX(100%);
  }
  
  input[type="radio"]:checked + .page{
    transform: translateX(0%);
    .page-contents > *{
      opacity: 1;
      transform: translateY(0px);
    }
  }
  
  .page-contents{
    max-width: 100%;
    width: 500px;
    margin: 0 auto;
  }




/************************************************
****************** mediaQueries *****************
*************************************************/

@media screen and (max-width: 880px) {
    main {
        flex-direction: column;
    }

    nav {
        flex-direction: row;
        min-width: initial;
        width: 100%;
        height: initial;

        & .menu-title {
            margin: 0
        }

        & ul.nav-menu {
            max-width: 190px;
            margin-left: auto;
        }
    }

    .logo {
        height: 80px;
    }

    .menu-title {
        margin: 0
    }
};
    
